{% extends "base.html" %}
{% block content %}

<div class="container" style="margin-top: 120px;">
    <div class="row">
        <div class="mb-5">
            <h2 class="text-center">Tube-Fetch</h2>
            <p class="text-center">Paste a Link of YouTube Video and Download easily</p>
        </div>
        <div class="main d-flex" style="justify-content: center; align-items: center;">
            <form action="" method="post" class="col-lg-8 col-md-8 col-sm-10">
                {% csrf_token %}
                <label for="" class="form-label">Enter URL of the Video</label>
                <input type="text" name="link" class="form-control" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                <br>
                <div class="d-flex" style="justify-content: right;">
                    <button type="submit" class="button-86">Download</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}